.imagemPessoa{
    margin-top: 20%;
    margin-bottom: 5%;
    border: 0.5em solid #05274e;
    width: 80%;
}
.container{
    font-family: boldAlegreya;
    font-size: larger;
    margin-bottom: 3%;
}

.tituloPagina{
    font-family: boldAlegreya;
    font-size: 1.7em;
    margin-top: 4%;
    margin-bottom: -3%;
    color: black;
}

.socialMedia{
    padding-left: 15%;
    padding-right: 15%;
    margin-top: -10%;
}