
body{
    font-family: boldAlegreya;
}
main{
    padding: 8%;
    padding-top: 1%;
}
h4{
    margin-bottom: 20px;
    font-weight: 600;
}
.parte{
    margin-bottom: 8%;
}
.tituloDoPost{
    margin: 6%;
    margin-top: 4%;
    font-weight: 900;
}
.imagemParte{
    width: 1%;
}

@media screen and (min-width: 560px) {
    
    
}