.tituloPagina{
    font-family: boldAlegreya;
    font-size: 1.7em;
    margin-top: 4%;
    margin-bottom: 4%;
    color: black;
}
.first, .second, .third{
    background-color: #05274e;
    border-radius: 4px;
}
.first{
    margin-right: 4%;
}
.second{
    margin-right: 4%;
    margin-left: 4%;
}
.third{
    margin-left: 4%;
}
.imagemPost{
    width: 85%;
    margin-top: 10%;
    margin-bottom: 5%;
    border: 0.15em inset rgb(0, 0, 0);
}
.tituloPost{
    font-family: mediumAlegreya;
    color: white;
    font-size: 1.2em;
    margin-bottom: 1%;
}
.postador{
    color: white;
    font-family: 'Courier New', Courier, monospace;
    font-size: 0.7em;
}
